@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper {
  flex-grow: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

.floating-messenger {
  width: 7rem;
  height: 7rem;
  background-color: #d18a20;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 2.5rem;
  border-radius: 50%;
  z-index: 10;
}

.floating-messenger a {
  color: inherit;
  font-size: 3.5rem;
}

/* Header */

.header .sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.header .sub-header .brand-logo img {
  width: 10rem;
}

.header .sub-header .search-bar {
  position: relative;
  width: 45rem;
}

.header .sub-header .search-bar input {
  display: block;
  width: 100%;
  padding: 0.95rem;
  border: 2px solid #eee;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222;
  padding-right: 3.5rem;
}

.header .sub-header .search-bar .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex: 1;
}

.header .sub-header .search-bar i {
  font-size: 2rem;
  color: rgb(148, 147, 147);
  padding: 1rem;
}

/*.navbar {
  background-color: #9d84b7;
  padding: 2rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}*/

@keyframes example {
  from {
    background-color: #001b35;
  }
  to {
    background-color: rgb(204, 204, 35);
  }
}

/* The element to apply the animation to */
.navbar {
  padding: 2rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  background-color: #001b35;
  animation-name: example;
  animation-duration: 2s;
}

.navbar a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.3rem 1.5rem;
  border: 2px solid #eee;
  transition: all 500ms ease-in-out;
  border-radius: 0.5rem;
}

.navbar a:hover {
  background-color: #fff;
  color: #9d84b7;
}

/* Hero-Main-Section */

.main-section {
  background-image: url('../images/1.jpg');
  height: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section .main-text {
  width: 50rem;
  background-color: rgba(238, 238, 238, 0.75);
  padding: 2.5rem 1.5rem;
  border-top-left-radius: 3.5rem;
  border: 2px solid #001b35;
}

.main-section .main-text h2 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
}

.main-section .main-text p {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 2rem;
  font-weight: 400;
  padding: 2rem 0rem;
  text-align: center;
}

/* Popular-Books */

.popular-books {
  margin-top: 8rem;
}

.heading {
  position: relative;
}

.heading h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #001b35;
  padding: 0 2.5rem;
  background-color: #fff;
  text-align: center;
}

.heading .line {
  width: 100%;
  height: 0.2rem;
  background-color: rgb(148, 147, 147);
}

.popular-books {
  padding: 0 1.5rem;
}

.popular-books .books-flex {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.popular-books .books-flex .card {
  width: 28rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.5rem;
  border-radius: 0.2rem;
  margin-bottom: 2.5rem;
}

.popular-books .books-flex .card img {
  display: block;
  width: 25rem;
  height: 32rem;
  margin: 0 auto;
}

.popular-books .books-flex .card p {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.5rem 0rem 0.5rem;
  line-height: 1.8rem;
}

.popular-books .books-flex .card .price {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(148, 147, 147);
}

/* Reviews-Section */

.reviews {
  margin-top: 8rem;
  padding: 0 1.5rem;
}

.reviews .review-content {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews .review-content .review-card {
  width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.5rem 2.5rem;
  border-radius: 0.2rem;
  margin-bottom: 2.5rem;
}

.reviews .review-content .review-card .thumb-up {
  text-align: center;
  padding: 0.8rem;
}

.reviews .review-content .review-card .thumb-up i {
  font-size: 3rem;
  display: inline-block;
  color: #59367e;
}

.reviews .review-content .review-card p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  color: #222;
}

/* Footer */

footer {
  padding: 2.5rem 1.5rem;
  background-color: #001b35;
  margin-top: 5rem;
}

footer p {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

/* About-Page */

.about {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
}

.about .left-content {
  width: 70rem;
  text-align: justify;
}

.about .left-content h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #001b35;
  padding-bottom: 1rem;
}

.about .left-content p {
  font-size: 1.7rem;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 1.2rem;
}

.about .left-content p span a {
  color: rgb(62, 62, 221);
  text-decoration: underline;
}

.about .left-content ul {
  list-style: circle;
}

.about .left-content ul h5 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 1.2rem;
}

.about .left-content ul li {
  margin-left: 5rem;
  font-size: 1.7rem;
}

.about .right-content {
  border: 2px solid #ddd;
  height: fit-content;
  padding: 1.5rem;
  width: 25rem;
}

.about .right-content ul {
  list-style: circle;
}

.about .right-content h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #001b35;
  padding-bottom: 1rem;
}

.about .right-content ul li {
  margin-left: 3rem;
  font-size: 1.7rem;
}

.about .right-content ul li a {
  color: rgb(62, 62, 221);
}

/* Contact Page */
.faq-accordion {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 650px;
  width: 100%;
  padding: 0 1.5rem;
}

.accordion {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.accordion-item {
  border-bottom: 2px solid #e5e5e5;
}

/* Thumb */
.accordion-thumb {
  margin: 0;
  padding: 0.8rem 0;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}
.accordion-thumb::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0da';
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1.5rem;
  vertical-align: middle;
  transition: all 300ms ease-in;
}

/* Panel */
.accordion-panel {
  margin: 0;
  padding-bottom: 0.8rem;
  display: none;
  padding-top: 1.5rem;
}

.accordion-content .faq {
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

.accordion-content .faq ul {
  margin-bottom: 1.5rem;
  list-style: disc;
}

.accordion-content .faq ul li {
  margin-left: 2.5rem;
}

.faq-inner {
  margin-bottom: 2rem;
}

.accordion-thumb:hover + .accordion-thumb{
  display: block;
}

/* Active */

.accordion-item.is-active {
  transition: all 300ms ease-in;
}

.accordion-item.is-active .accordion-thumb {
  background-color: #001b35;
  color: #fff;
}

.accordion-item.is-active .accordion-thumb::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f0d7';
}

/* Media Queries */

@media (max-width: 1050px) {
  .about .right-content {
    margin: 0 auto;
    margin-top: 2.5rem;
  }
}

@media (max-height: 650px) {
  .main-section {
    height: 450px;
  }
}

@media (max-width: 693px) {
  .navbar {
    gap: 2.5rem;
  }

  .main-section {
    height: 600px;
  }
}

@media (max-width: 576px) {
  .popular-books .books-flex .card {
    width: 28rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }

  .heading h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 2.2rem;
    padding: 0 1.5rem;
  }
}

@media (max-width: 530px) {
  .main-section .main-text {
    width: 90%;
    margin: 5%;
  }

  .main-section .main-text h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .navbar {
    gap: 0.8rem;
    padding: 0.8rem;
    border: 1.5px solid #eee;
  }
  .main-section {
    height: 400px;
  }

  .main-section .main-text {
    padding: 1.5rem;
  }

  .main-section .main-text h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .header .sub-header .search-bar {
    width: 30rem;
  }

  .header .sub-header .brand-logo img {
    width: 8rem;
  }
}

/* CHECKOUT PAGE CSS*/
.checkout-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}
.panel-body {
  padding: 45px 80px 0;
  flex: 1;
}
 
.progress-bar {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
 
.step {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #efefef;
}
 
.step:after {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 22px;
  width: 225px;
  height: 6px;
  content: '';
  background-color: #efefef;
}
 
.step:before {
  color: #2e2e2e;
  position: absolute;
  top: 40px;
}
 
.step:last-child:after {
  content: none;
}
 
.step.active {
  background-color: #f62f5e;
}
.step.active:after {
  background-color: #f62f5e;
}
.step.active:before {
  color: #f62f5e;
}
.step.active + .step {
  background-color: #f62f5e;
}
.step.active + .step:before {
  color: #f62f5e;
}
 
.step:nth-child(1):before {
  content: 'Delivery';
}
.step:nth-child(2):before {
  right: -40px;
  content: 'Confirmation';
}
.step:nth-child(3):before {
  right: -30px;
  content: 'Payment';
}
.step:nth-child(4):before {
  right: 0;
  content: 'Finish';
}

.payment-method {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}
 
.method {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  align-items: center;
}
 
.card-logos {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
 
.radio-input {
  margin-top: 20px;
}
 
input[type='radio'] {
  display: inline-block;
}
.title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  color: #2e2e2e;
}

.header .sub-header .search-bar i {
  font-size: 2rem;
  color: rgb(148, 147, 147);
  padding: 1rem;
}

.input-fields {
  display: flex;
  justify-content: space-between;
}
 
.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}
 
.info {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}
 
div[class*='column'] {
  width: 382px;
}
 
input[type='text'],
input[type='password'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}
 
input[type='text']:focus,
input[type='password']:focus {
  border-color: rgb(119, 219, 119);
}
 
#date { background: url(img/icons_calendar_black.png) no-repeat 95%; }
#cardholder { background: url(img/icons_person_black.png) no-repeat 95%; }
#cardnumber { background: url(img/icons_card_black.png) no-repeat 95%; }
#verification { background: url(img/icons_lock_black.png) no-repeat 95%; }
 
.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
 
.small-inputs div {
  width: 182px;
}

.panel-footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 80px;
  background-color: rgb(239, 239, 239);
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 16px;
  width: 163px;
  height: 48px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
}
 
.back-btn {
  color: #f62f5e;
  background: #fff;
}
 
.next-btn {
  color: #fff;
  background: #f62f5e;
}
 
.btn:focus {
  outline: none;
}
 
.btn:hover {
  transform: scale(1.1);
}

.chg-quantity{
  width: 1500px;
  height: 1000px;
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
}

.box-element {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec 
}

.row-image {
  width: 100px;
  height: 100px;
}

.quantity {
  display: inline-block;
  font-weight: 2;
  padding-right: 10px;
}

.form-field{
  width: 250px;
  display: inline-block;
  padding: 5px;
}

#cart-container table{
  border-collapse: collapse;
  width: 100%;
}

#cart-container table thead{
  font-weight: 700;
  margin: 10px;
}

#cart-container table thead td{
  background-color:rgb(16, 25, 54) ;
  color: white;
  border:none;
  padding: 6px 0;
  margin: 10px;
}

#cart-container table td{
  border:1px solid black;
  text-align: center;
}

#cart-container table tbody img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}


/* Search code */
.boxer{

  border-radius: 7px
}