
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
      src="https://kit.fontawesome.com/6255250c8f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../static/dragonBooks/CSS/style.css" />
    <title>Dragon Books - About</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="sub-header">
          <div class="brand-logo">
            <a href="/">
              <img src="../../static/dragonBooks/images/logo.PNG" alt="Dragon Books" />
              </a>
          </div>
          <div class="search-bar">
            <input
              type="search"
              id="search"
              name="search"
              placeholder="Search"
            />
            <div class="search-btn">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/admin"> Admin Account</a>
        <a href="/shop">Shop Books</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>

    <div class="container">
      <section class="about">
        <div class="left-content">
          <h2>About Dragon Book</h2>

          <p>
            Dragon Books is a one-stop ecommerce search engine that searches
            for available books for sale - new, used, rare, out of print and
            <span><a href="#">textbooks</a></span
            >. We save your time and money by searching
            every major catalog online
            and letting you know which booksellers are offering the best prices
            and selection. When you find a book you like, you can buy it
            directly from the original seller, we never charge a markup.
          </p>

          <p>Dragon Books was launched in 2021 by your fellow students who were looking for an 
            alternative options to buy books from and avoid the high prices from big institutions.</p>

          <ul>
            <h5>Our searchable inventory</h5>
            <li>new, used, rare, out-of-print, textbooks</li>
            <li>books from your peer booksellers</li>
            <li>books written in English, French, German, Italian and Dutch</li>
          </ul>
        </div>

        <div class="right-content">
          <h2>About</h2>
          <ul>
            <li><a href="#">Our booksellers</a></li>
            <li><a href="#">For the press</a></li>
            <li><a href="#">Media mentions</a></li>
          </ul>
        </div>
      </section>
    </div>

    <footer>
      <div class="container">
        <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
