{% extends 'dragonBooks/index.html'%}
{%block content%}

    <div class="container">
      <section class="about">
        <div class="left-content">
          <h2>Our Book Sellers</h2>

          <p>Dragon Books was gets their books from Drexel students sellers and we also have partnerships with various companies to get more options for students.</p>

          <ul>
            <h4>Friends of the Oak Island Lighthouse </h4>
            <li>oakislandlighthouse.org</li>
          </ul>

          <ul>
            <h4>Color Me Carolina            </h4>
            <li>facebook.com/ColorMeCarolina</li>
          </ul>

          <ul>
            <h4>The Ricky Evans Gallery            </h4>
            <li>rickyevansgallery.com</li>
          </ul>

          <ul>
            <h4>Fort Wilkins Historic State Park Store            </h4>
            <li>fortwilkinsnha.org</li>
          </ul>

          <ul>
            <h4>North Wind Books            </h4>
            <li>snowboundbooks.com</li>
          </ul>

        </div>
      </section>
    </div>
{%endblock content%}
