
  {% extends 'dragonBooks/index.html' %}
  {% block content %}
        <section id="blog-home" class="pt-5 mt-5 container">
          <h2 class="font-weight-bold pt-5">Shopping Cart</h2>
          <hr>
        </section>
        <div style="  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
            background-color: #fff;
            border-radius: 4px;
            padding: 10px;">
              <a class="btn btn-outline-dark" href="{%url 'shop' %}">  &#x2190; Continue Shopping</a>
              <br>
              <br>

              <table class="table" style="width: 100%;">
                <tr style="text-align: center;">
                  <th><h5> Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                  <th><h5>Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
                  <th>
                    <button class="btn btn-success"><a style="border-radius:0; "   href="/checkout">Checkout</a></button>
                    
                  </th>
                </tr>
              </table>
            </div>
        <section id="cart-container" class="container my-5">
          {% for item in items %}
          <table width="100%">
            <thead>
              <tr>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div><img src="{{item.product.imageURL}}"  alt="Product Image"></div></td>
                <td><h5> {{item.product.name}} </h5></td>
                <td><h5> ${{item.product.price|floatformat:2}} </h5></td>
                <td>
                  {{item.quantity}}
                  <div class="quantity">
                    <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="../../static/dragonBooks/images/arrow_up.png" width="100px" height="10px">
                    <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="../../static/dragonBooks/images/arrow_down.png">
                  </div>
                </td>
                <td><h5>${{item.get_total}}</h5></td>
              </tr>
            </tbody>
          </table>
          {% endfor %}
        </section>
      {%endblock content %} 

