<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/dragonBooks/CSS/style.css" />
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
          <div class="sub-header">
            <div class="brand-logo">
              <a href="/">
                <img src="../../static/dragonBooks/images/logo.PNG" alt="Dragon Books" />
                </a>
            </div>
            <div class="search-bar">
              <input
                type="search"
                id="search"
                name="search"
                placeholder="Search"
              />
              <div class="search-btn">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/admin"> Admin Account</a>
          <a href="/shop">Shop Books</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/cart">Cart</a>
        </nav>
      </header>
        <!-- Popular-Books-Section -->
    <section class="popular-books">
      <div class="container">
        <div class="heading">
          <div class="line"></div>
        </div>
        <div class="books-flex">
          <div class="card">
            <a href="book1.html"> 
            <img src="./images/book-1.jpg" alt="" />
            <p>Governing States and Localities</p>
            <div class="price">$12</div>
          </div>
        </div>
      </div>
    </section>
    <footer>
        <div class="container">
          <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
        </div>
    <footer>
        <div class="container">
          <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
        </div>
      </footer>
</body>
</html>
