{% extends 'dragonBooks/index.html' %}
{% block content%}
      {% if codeSearched %}
        <h1>You Searched for {{codeSearched}}</h1>
        <br/>

        <div class="container">
            <div class="row">
                {% for book in books %}
                <div class="col-md-3">
                  
                        <div class="card">
                          <a href="/{{book.id}}">
                          <img src="{{ book.imageURL}}" alt="" class="card-img-top" width="500px" height="500px">
                          </a>
                            
                            <div class="card-body">
                                <div class="card-title">
                                    {{book.name}}
                                </div>
                                <div class="card-text">
                                    $ {{book.price}}
                                </div>
                            </div>
                        </div>
                        <a href="/{{book.id}}" class="btn btn-warning">View</a>
                        <hr>
                                    <a class="btn btn-warning">Add to Cart</a>
                </div>
                {%endfor %}
            </div>
        </div>
      {% else %} 
        <h1>You forgot to search</h1>
      {% endif %}
{% endblock content %}