
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6255250c8f.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/dragonBooks/CSS/style.css?{% now 'U' %}">
    <title>Dragon Books - About</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="sub-header">
          <div class="brand-logo">
            <a href="/">
              <img src="../../static/dragonBooks/images/logo.PNG" alt="Dragon Books" />
              </a>
          </div>
          <div class="search-bar">
            <input
              type="search"
              id="search"
              name="search"
              placeholder="Search"
            />
            <div class="search-btn">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/admin"> Admin Account</a>
        <a href="/shop">Shop Books</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>

    <div class="container">
      <section class="about">
        <div class="left-content">
          <h2>Contact Us:</h2>

          <ul>
            <br>
            <li>Email :  Dragonbookshelp@gmail.com</li>
            <li>Call Us: 215-549-2641</li>
            <li>Instagram : @dragon_books</li>
            <li>Twitter : @dragon_books</li>
            </ul>
            <br>
            
          </ul>

          <p>
            We at Drexel Book believe in customer service to be the core of 
            a good business. We are available to help you out with any issues
            with any robots or systems. We like to help with a human touch and 
            passion.
          </p>
        </div>
          <div class="right-content">
            <h2>FAQs</h2>
            <ul>
                <li><a href="paymentfaq.html">Payments</a></li>
                <li><a href="inventoryfaq.html">Inventory</a></li>
                <li><a href="returningfaq.html">Returning</a></li>
            </ul>
          </div>
        
          <section class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <h2 class="accordion-thumb">Purchasing</h2>
                <div class="accordion-panel">
                  <div class="accordion-content">
                    <div class="faq">
                      <h4>What payment methods do you support?</h4>
                      <p>
                        You have the option to pay via credit card, PayPal or
                        Apple Pay. Note that some of our international stores will
                        not have PayPal or Apple Pay options available. You may
                        see all payment options available for each region by
                        scrolling to the bottom of the page and looking at bottom
                        right corner of each regional homepage.
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>Is VitalSource a legitimate seller?</h4>
                      <p>
                        VitalSource is one of the leading providers of digital
                        course materials in higher education. We are an authorized
                        distributor for over 1,000 publishers and have over 1
                        million textbooks available for sale in our store. Nearly
                        1M students purchased from the VitalSource store in 2020.
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>Can I purchase a Textbook if I live outside the US?</h4>
                      <p>
                        You cannot purchase or order a textbook if your located
                        outside of the US.
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>What is your return policy?</h4>
                      <p>
                        You're welcome to return your textbook for a full refund
                        within 14 days from the date of purchase.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
  
              <li class="accordion-item">
                <h2 class="accordion-thumb">eTextbook</h2>
                <div class="accordion-panel">
                  <div class="accordion-content">
                    <div class="faq">
                      <h4>What is an eTextbook?</h4>
                      <p>
                        An eTextbook (also known as a digital textbook or eText)
                        is a digital, downloadable version of a printed textbook.
                        eTextbooks can be read online or offline through any
                        supported device (PC, Mac, Smartphone, or Tablet running
                        iOS or Android, Kindle Fire, and Chromebook). eTextbook
                        readers have interactive features including highlights,
                        notes, flashcards and read aloud that allow for an
                        engaging reading experience
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>What devices can I read an eTextbook on?</h4>
                      <p>
                        Read your textbooks on any computer, tablet or mobile
                        phone. VitalSource Bookshelf is compatible with both Macs
                        and PCs as well as iOS, Android, Kindle Fire, and
                        Chromebook devices.
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>Can I access my eTextbook on more than one device?</h4>
                      <p>
                        Yes. You will be able to download and access your
                        eTextbook onto 2 computers AND 2 mobile devices using the
                        Bookshelf app.
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>
                        Do I have to be connected to the internet to read my
                        eTextbook?
                      </h4>
                      <p>
                        No! You can access 100% of your eTextbooks without an
                        internet connection
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>
                        Who do I contact for technical and account support issues
                        with VitalSource and/or Bookshelf?
                      </h4>
                      <p>
                        You can contact us by emails at Dragonbookshelp@gmail.com
                        or Call us at 215-549-2641 tall free.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
  
              <li class="accordion-item">
                <h2 class="accordion-thumb">Returning</h2>
                <div class="accordion-panel">
                  <div class="accordion-content">
                    <div class="faq">
                      <h4>Returns & Refunds</h4>
                      <p>
                        We want you to enjoy your purchase from the DragonsBooks
                        Store. However, if you need to return an item, we're here
                        to help.
                      </p>
                      <p>
                        You're welcome to return your textbook for a full refund
                        within 14 days from the date of purchase.
                      </p>
                    </div>
  
                    <div class="faq">
                      <h4>Standard Return Policy</h4>
                      <p>In order to receive your DragonsBooks refund</p>
                      <ul>
                        <li>
                          Book must be in the same condition in which we shipped
                          it to you. We're not responsible for any damage incurred
                          during transit. When preparing your package for
                          shipment, you may choose to purchase insurance for your
                          package from any UPS store or your post office.
                        </li>
                        <li>You must connect to your seller to be returned.</li>
                      </ul>
  
                      <p>
                        There are a few important things to keep in mind when
                        returning a book, you purchased from the DragonsBooks
                        Store:
                      </p>
                      <ul>
                        <li>
                          You have 14 calendar days to return an item from the
                          date you purchased it.
                        </li>
                        <li>
                          You have not viewed or printed, in total, more than
                          twenty percent (20%) of the DragonsBooks eTextbook.
                        </li>
                        <li>
                          You have not used any included access codes for any
                          online resource that came with your eTextbook purchase.
                        </li>
                        <li>
                          You are not returning an eBook from one of the
                          publishers in our Return Policy Exceptions.
                        </li>
                        <li>
                          You can only return items purchased directly from the
                          DragonsBooks Store or contacting to the seller.
                        </li>
                      </ul>
                      <div class="faq-inner">
                        <p>
                          Returns for DragonsBooks eBooks purchases through other
                          retailers are subject to their respective returns and
                          refunds policy.
                        </p>
                        <p>
                          Abuse of Return Policy: DragonsBooks reserves the right
                          to refuse to sell or to provide refunds to any person
                          for any reason not prohibited by law, including, but
                          not limited to, abuse of its return policy.
                        </p>
                      </div>
  
                      <div class="faq-inner">
                        <h4>Refunds</h4>
                        <p>
                          Once we receive your refund request, a refund is
                          initiated immediately. We refund your purchase back to
                          the original payment method.
                        </p>
                        <p>
                          We will send credit and debit card refunds to the
                          card-issuing bank within five to seven business days of
                          receipt of the return. Please contact the card-issuing
                          bank with questions about when you can expect the credit
                          to post on your account.
                        </p>
                      </div>
  
                      <div class="faq-inner">
                        <h4>Additional Information</h4>
                        <p>
                          As with any shopping experience, some terms and
                          conditions apply to transactions through the
                          DragonsBooks Store. Please remember, that by placing an
                          order at the DragonsBooks Store, you agree to the terms
                          set forth above along with DragonsBook’s Privacy policy
                          and Terms of use.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </section>

        
      </section>
    </div>

    <footer>
      <div class="container">
        <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
