
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6255250c8f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../static/dragonBooks/CSS/style.css" />
    <title>Dragon Books - About</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="sub-header">
          <div class="brand-logo">
            <a href="/">
              <img src="../../static/dragonBooks/images/logo.PNG" alt="Dragon Books" />
              </a>
          </div>
          <div class="search-bar">
            <input
              type="search"
              id="search"
              name="search"
              placeholder="Search"
            />
            <div class="search-btn">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/admin"> Admin Account</a>
        <a href="/shop">Shop Books</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>

    <div class="container">
      <section class="about">
        <div class="left-content">
          <h2>Contact Us:</h2>

          <ul>
            <br>
            <li>Email :  Dragonbookshelp@gmail.com</li>
            <li>Call Us: 215-549-2641</li>
            <li>Instagram : @dragon_books</li>
            <li>Twitter : @dragon_books</li>
            </ul>
            <br>
            
          </ul>

          <p>
            We at Drexel Book believe in customer service to be the core of 
            a good business. We are available to help you out with any issues
            with any robots or systems. We like to help with a human touch and 
            passion.
          </p>
        </div>
          <div class="right-content">
            <h2>FAQs</h2>
            <ul>
                <li><a href="paymentfaq.html">Payments</a></li>
                <li><a href="inventoryfaq.html">Inventory</a></li>
                <li><a href="returningfaq.html">Returning</a></li>
            </ul>
          </div>
        

        
      </section>
    </div>

    <footer>
      <div class="container">
        <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
