<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6255250c8f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/dragonBooks/CSS/style.css?{% now 'U' %}"/>
    <title>Dragon Books - Home</title>
  </head>
  <body>
     <!-- Header -->
     <header class="header">
        <div class="container">
          <div class="sub-header">
            <div class="brand-logo">
              <a href="book1.html">
              <a href="index.html">
                <img src="../../static/dragonBooks/images/logo.PNG"  alt="Dragon Books" />
                </a>
            </div>
            <div class="search-bar">
              <input
                type="search"
                id="search"
                name="search"
                placeholder="Search"
              />
              <div class="search-btn">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/shop">Shop Books</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/cart">Cart</a>
        </nav>
      </header>
      <div class="container">
        <section class="about">
          <div class="left-content">
            <h2>For the Press</h2>
  
            <p>
              We a dragon books believe in helping the society and solving the problems for our peers. Dragon Books provides an inexpensive
              alternative to other big sellers who have high margins and corporate greed in their mind. We are working tirelessly to 
              provide the best customer service for the students while making it convenient for them to get their education with various
              payment and pickup options. More information about payments and other FAQS are available under the contact section. 
            </p>
  
            <p> The website was created by three drexel students who started it by creating a project by later turned it into their mission.</p>
  
    </body>
    
    </html>