{% extends 'dragonBooks/index.html' %}
{% block content %}
      <div class="container">
        <section class="about">
          <div class="left-content">
            <h2>For the Press</h2>
  
            <p>
              We a dragon books believe in helping the society and solving the problems for our peers. Dragon Books provides an inexpensive
              alternative to other big sellers who have high margins and corporate greed in their mind. We are working tirelessly to 
              provide the best customer service for the students while making it convenient for them to get their education with various
              payment and pickup options. More information about payments and other FAQS are available under the contact section. 
            </p>
  
            <p> The website was created by three drexel students who started it by creating a project by later turned it into their mission.</p>
          </div>
        </section>
      </div>
{% endblock content %}