

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6255250c8f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../static/dragonBooks/CSS/style.css" />
    <title>Dragon Books - Home</title>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="sub-header">
          <div class="brand-logo">
            <a href="/">
              <img src="../../static/dragonBooks/images/logo.PNG" alt="Dragon Books" />
              </a>
          </div>
          <div class="search-bar">
            <input
              type="search"
              id="search"
              name="search"
              placeholder="Search"
            />
            <div class="search-btn">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/admin"> Admin Account</a>
        <a href="/shop">Shop Books</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>

    <!-- Hero-Section -->
    <section class="main-section">
      <div class="container">
        <div class="main-text">
          <h2>Save up to 80% with Dragon Books</h2>
          <p>Shop our library books and learn anytime, anywhere!</p>
        </div>
      </div>
    </section>


    <!-- Review-Section -->
    <section class="reviews">
      <div class="container">
        <div class="heading">
          <div class="line"></div>
          <h2>What Students Are Saying</h2>
        </div>
        <div class="review-content">
          <div class="review-card">
            <div class="thumb-up">
              <i class="fas fa-quote-left"></i>
            </div>
            <p>
              Dragon Books is a phenomenal resource for students wishing to
              eliminate paper copies of textbooks from their lives! Great mobile
              access.
            </p>
          </div>

          <div class="review-card">
            <div class="thumb-up">
              <i class="fas fa-quote-left"></i>
            </div>
            <p>
              Dragon Books saves my wallet when purchasing or renting books! And
              they have tools that enhance the learning experience.
            </p>
          </div>

          <div class="review-card">
            <div class="thumb-up">
              <i class="fas fa-quote-left"></i>
            </div>
            <p>
              Easy to use and great way to get the books you require quickly and
              far cheaper than physically buying the book.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
