<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/dragonBooks/CSS/style.css?{% now 'U' %}"> 
  
    <title>Dragon Books - Home</title>
  </head>
  <script type="text/javascript">
    var user = '{{request.user}}'
    function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    var csrftoken = getToken('csrftoken');
  </script>
  <body>
    <div class="floating-messenger">
      <a href="mailto:dragonBooks@gmail.com"><i class="far fa-comment-dots"></i></a>
    </div>

    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="sub-header">
          <div class="brand-logo">
            <a href="/">
              <img
                src="../../static/dragonBooks/images/logo.PNG"
                alt="Dragon Books"
              />
            </a>
          </div>
          <form class="search-bar" method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input
              type="search"
              id="search"
              name="searched"
              placeholder="Search for books"
            />
            <div class="search-btn">
              <i class="fas fa-search">
                  <button class="btn btn-success" type="submit">Search</button>
              </i>
            </div>
          </form>

            <a href="/searchCode">
              <button class="btn btn-success">SEARCH WITH CLASS CODE</button>
              </a>

        </div>
      </div>
      <nav class="navbar">
        <a href="/admin"> Admin Account</a>
        <a href="/shop">Shop Books</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/cart">Cart</a>
      </nav>
    </header>

    <!-- Hero-Section -->
    {% block content %}
    <section class="main-section">
      <div class="container">
        <div class="main-text">
          <h2>Save up to 80% with Dragon Books</h2>
          <p>Shop our library books and learn anytime, anywhere!</p>
        </div>
      </div>
    </section>

    <!-- Review-Section -->
    <section class="reviews">
      <div class="container">
        <div class="heading">
          <div class="line"></div>
          <h2>What Students Are Saying</h2>
        </div>
        <div class="review-content">
          <div class="review-card">
            <div class="thumb-up">
              <i class="fas fa-quote-left"></i>
            </div>
            <p>
              Dragon Books is a phenomenal resource for students wishing to
              eliminate paper copies of textbooks from their lives! Great mobile
              access.
            </p>
          </div>

          <div class="review-card">
            <div class="thumb-up">
              <i class="fas fa-quote-left"></i>
            </div>
            <p>
              Dragon Books saves my wallet when purchasing or renting books! And
              they have tools that enhance the learning experience.
            </p>
          </div>

          <div class="review-card">
            <div class="thumb-up">
              <i class="fas fa-quote-left"></i>
            </div>
            <p>
              Easy to use and great way to get the books you require quickly and
              far cheaper than physically buying the book.
            </p>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}

    <footer>
      <div class="container">
        <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
      </div>
    </footer>
    <script
    src="https://kit.fontawesome.com/6255250c8f.js"
    crossorigin="anonymous"
  ></script>
    <script type="text/javascript" src="/static/dragonBooks/js/cart.js?{% now 'U' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
