<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6255250c8f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/dragonBooks/CSS/style.css?{% now 'U' %}"/>
    <title>Dragon Books - Home</title>
  </head>
  <body>
     <!-- Header -->
     <header class="header">
        <div class="container">
          <div class="sub-header">
            <div class="brand-logo">
              <a href="book1.html">
              <a href="index.html">
                <img src="../../static/dragonBooks/images/logo.PNG"  alt="Dragon Books" />
                </a>
            </div>
            <div class="search-bar">
              <input
                type="search"
                id="search"
                name="search"
                placeholder="Search"
              />
              <div class="search-btn">
                <i class="fas fa-search"></i>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/shop">Shop Books</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/cart">Cart</a>
        </nav>
      </header>

    <div class="container">
      <section class="about">
        <div class="left-content">
          <h2>Media Mentions</h2>

          <p>
            All mentions of our media can be tagged with our instagram, twitter or our website address. Any content bought from Dragon Books sellers
            or the website are subject to copyright violations. The books must not be shared or posted online without proper rights.
          </p>

          <p> Dragon Books can be found on social media with a @DragonBooks username. 
              Dragon Books does not have any other accounts or email addresses other then the ones mentioned on the website.</p>

  </body>
</html>
