{% extends 'dragonBooks/index.html' %}
{% block content %}

    <div class="container">
      <section class="about">
        <div class="left-content">
          <h2>Media Mentions</h2>

          <p>
            All mentions of our media can be tagged with our instagram, twitter or our website address. Any content bought from Dragon Books sellers
            or the website are subject to copyright violations. The books must not be shared or posted online without proper rights.
          </p>

          <p> Dragon Books can be found on social media with a @DragonBooks username. 
              Dragon Books does not have any other accounts or email addresses other then the ones mentioned on the website.</p>
        </div>
      </section>
    </div>

{% endblock content %}