{% extends 'dragonBooks/index.html' %}
{% block content %}
      <h1 style="text-align: center;">Search with Class Code</h1>
         <div class="container" style="margin: auto; width: auto; text-align: center;">
            <form class="search-bar" method=POST action="{% url 'codeSearch' %}">
                {% csrf_token %}
                <input class="boxer"
                  type="search"
                  id="codeSearch"
                  name="codeSearched"
                  placeholder="TYPE IN COURSE CODE"
                />
                <hr />
                <div class="search-btn">
                  <i class="fas fa-search">
                      <button class="btn btn-success" type="submit">Search</button>
                  </i>
                </div>
              </form>
         </div>
{%endblock content%}