<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/dragonBooks/CSS/style.css?{% now 'U' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
     <!-- Header -->
     <header class="header">
        <div class="container">
          <div class="sub-header">
            <div class="brand-logo">
              <a href="/">
                <img src="../../static/dragonBooks/images/logo.PNG" alt="Dragon Books" />
                </a>
            </div>
          </div>
        </div>
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/admin"> Admin Account</a>
          <a href="/shop">Shop Books</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/cart">Cart</a>
        </nav>
      </header>
      <h1 style="text-align: center;">Search with Class Code</h1>
         <div class="container" style="margin: auto; width: auto; text-align: center;">
            <form class="search-bar" method=POST action="{% url 'codeSearch' %}">
                {% csrf_token %}
                <input
                  type="search"
                  id="codeSearch"
                  name="codeSearched"
                  placeholder="TYPE IN COURSE CODE"
                />
                <hr />
                <div class="search-btn">
                  <i class="fas fa-search">
                      <button class="btn btn-success" type="submit">Search</button>
                  </i>
                </div>
              </form>
         </div>
      <footer>
        <div class="container">
          <p>© Copyright 2021 Dragon Books All Rights Reserved.</p>
        </div>
      </footer>
</body>
</html>