{% extends 'dragonBooks/index.html' %}
{%block content %}
    <div class="container">
        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                    <div class="card">
                      <a href="/{{ product.id }}">
                        <img alt="bookImage" src="{{product.imageURL}}" class="card-img-top" width="500px" height="500px">
                      </a>  
                        <div class="card-body">
                            <div class="card-title">
                                <a href="/{{ product.id }}">
                                {{ product.name }} 
                                </a>
                            </div>
                            <div class="card-text">
                                $ {{product.price}}
                            </div>
                                    <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                                    <hr />
                                    <button data-product={{product.id}} data-action="add" class="btn btn-warning update-cart">Add to Cart</button>
                        </div>
                
                    </div>
                    
            </div>
            {%endfor %}
        </div>
    </div>
{% endblock content %}

    
