{% extends 'dragonBooks/index.html' %}
{% block content %}

    <section class="popular-books">
      <div class="container">
        <div class="heading">
          <div class="line"></div>
        </div>
        <div class="books-flex">
          <div>
            <div class='bookimg'>
            <a href="book1.html">
            <img alt="Book1" src="{{product_object.imageURL}}"  class ="center">
            </a>
            </div>

            <h2>{{ product_object.name }}</h2>
            </a>
            <br>
            <h3> Description:</h3>
            <p> 
              {{ product_object.description }}
            </p>


            <div class="price">$ {{ product_object.price }}</div>
            <div>
              <h2>Contact Information</h2>
              <p>Email: {{product_object.email}}</p>
              <p>Phone Number: {{product_object.phoneNumber}}</p>
            </div>
            <button data-product={{product.id}} data-action="add" class="btn btn-warning update-cart">Add to Cart</button>
          </div>
            </div>
      </div>
    </section>

{% endblock content%}
